<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——联系</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="../build/css/all.css">
    <meta id="descript" name="description" content="不建建筑（BJJZ）致力于研究建筑中的不建（Unarchitecture）" />
    <meta id="keywords" name="keyword" content="不建建筑,建筑设计,不建建筑工作室,都市建筑" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
</head>
<body class="connect">
<div class="titleContainer">
    <a href="../index.html"><img src="../../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a href="construct.html">作品</a>
        <a href="expound.html">论述</a>
        <a href="introduce.html">介绍</a>
        <a class="selected">联系</a>
    </p>
</div>
<div class="contentContainer">
    <p>地址：<span>浙江省杭州市滨江区滨安路1060号中国联合工程公司A幢16楼不建建筑工作室</span></p>
    <p>电话：<span>+86 0571-81182983</span></p>
    <p>传真：<span>+86 0571-81182983</span></p>
    <p>邮箱：<span>bjjzarchitects@gmail.com（一般事宜），job-bjjz@gmail.com（工作申请)</span></p>
</div>
<div class='menuBtnContainer'>
    <a href="construct.html">作品</a>
    <a href="expound.html">论述</a>
    <a href="introduce.html">介绍</a>
    <a class="selected">联系</a>
</div>
<footer class="copyRight"><p>不建建筑 © b-j-j-z.com 浙ICP备16016703号 版权所有</p></footer>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../build/main.js"></script>

</body>
</html>