<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——营造</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="../build/css/all.css">
    <meta id="descript" name="description" content="不建建筑（BJJZ）致力于研究建筑中的不建（Unarchitecture）" />
    <meta id="keywords" name="keyword" content="不建建筑,建筑设计,不建建筑工作室,都市建筑" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
</head>
<body class="construct">
<div class="titleContainer">
    <a href="../index.html"><img src="../../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a class="selected">作品</a>
        <a href="expound.html">论述</a>
        <a href="introduce.html">介绍</a>
        <a href="connect.html">联系</a>
    </p>
</div>
<div class="objectContainer clearfix">
    <div class="objectItem">
        <a href="objectDetail.html?index=0"><img src="../../image/object-1.png"></a>
        <div class="layer">聚光科技</div>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=1"><img src="../../image/object-2.png"></a>
        <div class="layer">竹泉隐院</div>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=2"><img src="../../image/object-3.png"></a>
        <div class="layer">农夫茶坊</div>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=3"><img src="../../image/object-4.png"></a>
        <div class="layer">聚光中心</div>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=4"><img src="../../image/object-5.png"></a>
        <div class="layer">中豪国际</div>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=5"><img src="../../image/object-6.jpg"></a>
        <div class="layer">智造车间</div>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=6"><img src="../../image/object-7.jpg"></a>
        <div class="layer">神龙堡垒</div>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=7"><img src="../../image/object-8.jpg"></a>
        <div class="layer">东软学院</div>
    </div>
    <div class="objectItem">
        <a><img src="../../image/object-6.png"></a>
        <div class="layer">敬请期待</div>
    </div>
</div>
<div class='menuBtnContainer'>
    <a class="selected">作品</a>
    <a href="expound.html">论述</a>
    <a href="introduce.html">介绍</a>
    <a href="connect.html">联系</a>
</div>
<footer class="copyRight"><p>不建建筑 © b-j-j-z.com 浙ICP备16016703号 版权所有</p></footer>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../build/main.js"></script>
</body>
</html>