<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——营造</title>
    <link type="text/css" rel="stylesheet" href="../build/css/all.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
</head>
<body class="construct">
<div class="titleContainer">
    <a href="../index.html"><img src="../../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a href="expound.html">论述</a>
        <a class="selected">营造</a>
        <a href="introduce.html">介绍</a>
        <a href="connect.html">联系</a>
    </p>
</div>
<div class="objectContainer clearfix">
    <div class="objectItem">
        <a href="objectDetail.html?index=0"><img src="../../image/object-1.png"></a>
        <span>聚光科技</span>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=1"><img src="../../image/object-2.png"></a>
        <span>竹泉隐院</span>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=2"><img src="../../image/object-3.png"></a>
        <span>农夫茶坊</span>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=3"><img src="../../image/object-4.png"></a>
        <span>聚光中心</span>
    </div>
    <div class="objectItem">
        <a href="objectDetail.html?index=4"><img src="../../image/object-5.png"></a>
        <span>中豪国际</span>
    </div>
    <div class="objectItem">
        <a><img src="../../image/object-6.png"></a>
    </div>
</div>
<div class='menuBtnContainer'>
    <a href="expound.html">论述</a>
    <a class="selected">营造</a>
    <a href="introduce.html">介绍</a>
    <a href="connect.html">联系</a>
</div>
<footer class="copyRight">不建建筑 © b-j-j-z.com 浙ICP备16016703号 版权所有</footer>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../build/main.js"></script>
</body>
</html>