<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——论述</title>
    <link type="text/css" rel="stylesheet" href="../build/css/all.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
</head>
<body class="expound">
<div class="titleContainer">
    <a href="../index.html"><img src="../../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a class="selected">论述</a>
        <a href="construct.html">营造</a>
        <a href="introduce.html">介绍</a>
        <a href="connect.html">联系</a>
    </p>
</div>
<div class="content">
    <div class="itemContainer">
        <p>不建建筑（BJJZ）认为，建筑中最重要的部分在于其不被建造的部分：自然和人。此两者通称为“不建（Unarchitecture）”。其中自然包括了时间，空间和自然环境；人包括了人的本体和人的意识。建筑是自然和人共同作用的产物，其既包含了自然之属性，又包含了人之属性。</p>
        <img src="../../image/natrue.png">
    </div>
    <div class="itemContainer">
        <p>都市人为。城市是稀薄了的自然，是浓稠了的人欲。自然和人皆生命，建筑和城市作为“不建”的产物，亦是一种生命。当今建筑和城市所面临的问题，正是一切生命体所面临的问题：事实有限和追求无限之间的矛盾，以及事实约束和追求自由之间的矛盾。</p>
        <img src="../../image/natrue1.png">
    </div>
    <div class="itemContainer">
        <p>不建建筑（BJJZ）致力于研究建筑中的不建（Unarchitecture）。<br>“天之道，损有余而补不足。人之道，则不然，损不足以奉有余。孰能有余以奉天下？唯有道者。”——《道德经》。自然和人，同样是生命的体系，运转的机制却截然相反。不建之道研究的是自然和人之间的天人关系，以及面对现实有限和约束的语境下的生命之术。</p>
        <img src="../../image/natrue2.png">
    </div>
    <div class="itemContainer">
        <p>面对现实的纷繁芜杂的影响因素，面对建筑之六大困境（时滞，地缚，物限，势阻，文陷，人难），不建建筑（BJJZ）的术是从建造的本源动机出发，回归生命的本真态度，视建筑如生命，于约束中创造自由，在有限里激发无限。</p>
        <img src="../../image/natrue3.png">
    </div>
    <div class="itemContainer">
        <p>面对现实的纷繁芜杂的影响因素，面对建筑之六大困境（时滞，地缚，物限，势阻，文陷，人难），不建建筑（BJJZ）的术是从建造的本源动机出发，回归生命的本真态度，视建筑如生命，于约束中创造自由，在有限里激发无限。</p>
        <!--<img src="../image/natrue4.png">-->
    </div>
</div>
<div class='menuBtnContainer'>
    <a class="selected">论述</a>
    <a href="construct.html">营造</a>
    <a href="introduce.html">介绍</a>
    <a href="connect.html">联系</a>
</div>
<footer class="copyRight"><p>不建建筑 © b-j-j-z.com 浙ICP备16016703号 版权所有</p></footer>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../build/main.js"></script>
</body>
</html>