<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——介绍</title>
    <link type="text/css" rel="stylesheet" href="../build/css/all.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
</head>
<body class="introduce">
<div class="titleContainer">
    <a href="../index.html"><img src="../../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a href="expound.html">论述</a>
        <a href="construct.html">营造</a>
        <a class="selected">介绍</a>
        <a href="connect.html">联系</a>
    </p>
</div>
<div class="contentItem">
    <p>工作室简介：</p>
    <p class="introduceContent">不建建筑工作室于2017年1月在杭州成立，是中国联合工程公司民用工程中心下属建筑设计工作室。不建建筑工作室致力于研究城市，建筑中的不建（Unarchitecture），工作主要包括但不局限于以下内容：</p>
</div>
<div class="contentItem">
    <p>1.建筑学理论研究</p>
    <p>2.规划和建筑实践</p>
    <p>3.设计和工程咨询</p>
</div>
<div class="contentItem">
    <p>公司链接：</p>
    <p>国机集团：<a target="_blank" href="http://www.sinomach.com.cn">www.sinomach.com.cn</a></p>
    <p>中国联合工程公司：<a target="_blank" href="http://www.chinacuc.com">www.chinacuc.com</a></p>
</div>
<div class='menuBtnContainer'>
    <a href="expound.html">论述</a>
    <a href="construct.html">营造</a>
    <a class="selected">介绍</a>
    <a href="connect.html">联系</a>
</div>
<footer class="copyRight">不建建筑 © b-j-j-z.com 浙ICP备16016703号 版权所有</footer>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../build/main.js"></script>
</body>
</html>