<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——营造</title>
    <link type="text/css" rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.min.css">
    <link type="text/css" rel="stylesheet" href="../build/css/all.css">
</head>
<body class="objectDetail clearfix">
<div class="titleContainer">
    <a href="../index.html"><img src="../../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a href="expound.html">论述</a>
        <a class="selected" href="construct.html">营造</a>
        <a href="introduce.html">介绍</a>
        <a href="connect.html">联系</a>
    </p>
</div>
<div class="center clearfix">
    <div class="leftContainer">
        <div class="mainImg"></div>
        <div class="subImg"></div>
    </div>
    <div class="rightContainer">
        <p>项目名称:  <span class="name"></span></p>
        <p>建筑面积:  <span class="area"></span></p>
        <p>设计时间:  <span class="date"></span></p>
        <p style="height: auto">设计论述:  <br><span class="des"></span></p>
    </div>
</div>
<div class='menuBtnContainer'>
    <a href="expound.html">论述</a>
    <a class="selected" href="construct.html">营造</a>
    <a href="introduce.html">介绍</a>
    <a href="connect.html">联系</a>
</div>
<div class="slideContainer">
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<script type="text/javascript" src="../node_modules/swiper/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../build/data.js"></script>
<script type="text/javascript" src="../build/main.js"></script>
<script type="text/javascript" src="../build/objectDetail.js"></script>
</body>
</html>