<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——联系</title>
    <link type="text/css" rel="stylesheet" href="../build/css/all.css">
</head>
<body class="connect">
<div class="titleContainer">
    <a href="../index.html"><img src="../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a href="../views/expound.html">论述</a>
        <a href="../views/construct.html">营造</a>
        <a href="../views/introduce.html">介绍</a>
        <a class="selected">联系</a>
    </p>
</div>
<div class="contentContainer">
    <p>地址：<span>浙江省杭州市滨江区滨安路1060号中国联合工程公司A幢16楼不建建筑工作室</span></p>
    <p>电话：<span>+86 0571-81182983</span></p>
    <p>传真：<span>+86 0571-81182983</span></p>
    <p>邮箱：<span>bjjzarchitects@gmail.com（一般事宜），job-bjjz@gmail.com（工作申请</span></p>
</div>
<div class='menuBtnContainer'>
    <a href="../views/expound.html">论述</a>
    <a href="../views/construct.html">营造</a>
    <a href="../views/introduce.html">介绍</a>
    <a class="selected">联系</a>
</div>
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>