<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不建建筑——营造</title>
    <link type="text/css" rel="stylesheet" href="../../build/css/all.css">
</head>
<body>
<div class="titleContainer">
    <a href="../index.html"><img src="../image/logo.png"></a>
    <p>
        <span>不建建筑工作室</span>
        <a href="../views/expound.html">论述</a>
        <a class="selected">营造</a>
        <a href="../views/introduce.html">介绍</a>
        <a href="../views/connect.html">联系</a>
    </p>
</div>
</body>
</html>